.cartComponents {
  display: flex;
  gap: 1rem;
}

.cartComponents_quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartComponents_quantity button {
  border: 1px solid black;
}

.cartComponents_preview {
  position: relative;
}
.cartComponents_preview img {
  width: 200px;
  height: 300px;
  object-fit: none;
  object-position: 50% 10%;
}

.cartComponents_preview_buttons {
  display: flex;
  gap: 10px;
  z-index: 100;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.cartComponents_preview_buttons button {
  width: 24px;
  height: 24px;
  color: #fff;
  background-color: black;
}
