.navbar {
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  font-size: 16px;
  font-weight: 600;
}

.navbar_links {
  flex: 2;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  cursor: pointer;
}

.navbar_links li {
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.navbar_links li:hover {
  color: var(--color-button);
  border-bottom: 2px solid var(--color-button);
}
.navbar_icons {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.navbar_logo {
  display: flex;
  flex: 1;
  padding: 0;
  justify-content: center;
}

.navbar_cart_icon {
  position: relative;
}

.navbar_cart_icon::after {
  content: attr(value);
  width: 20px;
  height: 20px;
  font-size: 14px;
  background: #1d1f22;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: -5px;
  text-align: center;
  font-weight: 700;
}
