.productGallery {
  display: flex;
}

img {
  display: block;
  cursor: pointer;
}

.productGallery_container {
  height: 600px;
}

.productGallery img {
  height: 595px;
  width: 610px;
  object-fit: scale-down;
}

.productGallery_thumbs {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-y: auto;
}

.productGallery_thumbs img {
  width: 100px;
  height: 100px;
  margin-right: 40px;
  margin-bottom: 40px;
  object-fit: scale-down;
}
