.overlay_cart_total {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.overlay_cart_title {
  margin: 20px 0;
}

.overlay_cart_icon {
  position: relative;
  cursor: pointer;
}

.overlay_cart_icon::after {
  content: attr(value);
  width: 20px;
  height: 20px;
  font-size: 14px;
  background: #1d1f22;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: -5px;
  text-align: center;
  font-weight: 700;
}

.overlay_cart {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  right: -20px;
  top: 69px;
  background-color: var(--color-bg);
  padding: 0 16px;
  font-size: 16px;
  align-items: flex-start;
  animation: fadeIn 0.2s;
}

.overlay_cart_properties {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-weight: 700;
}

.quantity {
  font-weight: 500;
}

.overlay_cart_items {
  max-height: 550px;
  min-width: 300px;
  overflow-y: auto;
}

.overlay_cart_item {
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
  gap: 10px;
}

.overlay_cart_price {
  font-weight: 500;
}

.overlay_cart {
  & .productTitle {
    font-size: 16px;
    gap: 6px;
    & .productTitle_brand {
      font-weight: 300;
    }
  }

  & .productProperty_buttons {
    gap: 8px;
  }
  & .productProperty_buttons_label {
    width: fit-content;
    min-width: 24px;
    padding: 3px;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    pointer-events: none;
  }
  & .productProperty_text {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  & .productColor_text {
    font-family: inherit;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  & .productColor_buttons_label {
    height: 24px;
    width: 24px;
    pointer-events: none;
  }

  & .cartComponents {
    align-self: center;
    height: 190px;
    gap: 10px;
    & .cartComponents_quantity {
      & input {
        width: 25px;
        height: 25px;
      }
    }

    & .cartComponents_slider {
      & img {
        width: 120px;
      }
    }
    & .cartComponents_quantity_number {
      font-size: 16px;
    }
  }
}

.overlay_cart_buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 0;
}

.viewBag {
  display: flex;
  width: 140px;
  height: 43px;
  border: 1px solid #1d1f22;
  justify-content: center;
  align-items: center;
}

.checkout {
  display: flex;
  width: 140px;
  height: 43px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-button);
  border: 1px solid var(--color-button);
  color: #ffffff;
}

.gray_background {
  background: rgba(57, 55, 72, 0.22);
  position: fixed;
  top: 69px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
